:root {
    --moss-green: rgb(91, 241, 58);
    --header: rgb(243, 236, 227);
    --text: rgb(93, 154, 81);
    --text-hover: rgb(109, 183, 94);
    --frost-white: rgb(243, 245, 247);
    --olive-green: rgb(128, 128, 0);
    --cloud-white: rgb(240, 240, 240);
    --cedar-green: rgb(66, 80, 49);
    --alabaster-white: rgb(255, 255, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 70px;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100vw;
    height: 85px;
    padding: 10px 50px 10px;

    background-color: var(--header);
}

header img {
    position: relative;

    height: 50px;
}

header i.mobile{
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 45vw;
}

nav i.mobile{
    display: none;
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;

    width: 100%;
}

#nav-links a {
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
}

#nav-links a:hover {
    text-decoration: underline;
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
}

section {
    display: flex;

    width: 100vw;
    height: calc(100vh - 70px);
}

section#hero {
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: calc(100vh - 70px);

    text-align: center;
    color: var(--header);

    background: url(assets/AllKleenSolutionHero.jpeg);
    background-size: 100vw;
}

#hero article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    padding: 25px;

    width: 70%;
    border-radius: 25px;
    background-color: rgba(36, 221, 76, 0.7);
}

#hero h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 80px;
    font-size: 78px;
    font-style: normal;

    color: white;
    text-shadow: 0px 0px 2px black,
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        1px 1px 1px var(--cedar-green),
        2px 2px 1px var(--cedar-green),
        3px 3px 1px var(--cedar-green),
        4px 4px 1px var(--cedar-green),
        5px 5px 1px var(--cedar-green),
        6px 6px 1px var(--cedar-green);
}

#hero h2 {
    color: white;
    text-shadow: 0px 0px 2px black,
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        1px 1px 1px var(--cedar-green),
        2px 2px 1px var(--cedar-green),
        3px 3px 1px var(--cedar-green),
        4px 4px 1px var(--cedar-green),
        5px 5px 1px var(--cedar-green),
        6px 6px 1px var(--cedar-green);
}

#hero a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out;
}

#hero i {
    font-size: 2rem;
    transition: all 0.1s ease-in-out;
    text-shadow: 0px 0px 2px black,
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        0px 0px 2px var(--cedar-green),
        1px 1px 1px var(--cedar-green),
        2px 2px 1px var(--cedar-green),
        3px 3px 1px var(--cedar-green),
        4px 4px 1px var(--cedar-green),
        5px 5px 1px var(--cedar-green),
        6px 6px 1px var(--cedar-green);
}

#hero a:hover i {
    transform: translate(5px, -5px);
    transition: transform 0.1s ease-in-out;
}

#hero p {
    display: none;

    color: white;
    font-weight: 400;
}

#hero button {
    display: none;
}

h2,
h3 {
    letter-spacing: 1px;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 2.5%;

    height: 50px;
    width: 200px;
    margin: 0;
    padding: 10px;
    background: var(--text);
    color: var(--header);
    border: 2px solid var(--text);
    border-radius: 10px;

    text-decoration: none;
    font-size: 16px;
}

article h1 {
    margin-bottom: 25px;

    color: var(--text);
    font-size: 18px;
}

article h2 {
    margin-bottom: 10px;

    font-family: "DM Serif Text", serif;
    font-size: 34px;
    color: black;
    line-height: 40px;
}

article p {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 100;
}

section#about-us {
    flex-direction: row;
    justify-content: space-around;

    padding: 75px 150px 75px;
    gap: 75px;

    background-color: white;
}

#about-us img {
    border-radius: 25px;
    box-shadow: 25px 25px 5px rgba(36, 221, 76, 0.2);
}

section#services {
    flex-direction: column;
    align-items: center;
    padding: 25px;

    background: var(--text);
    color: white;
}

#services h2 {
    font-family: "DM Serif Text", sans-serif;
    font-size: 34px;
    text-shadow: 0 0 2px black;
    margin: 10px 0 10px;
}

#services article.desktop {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#services article.mobile {
    display: none;
}

.services-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc((100vw / 3) - 60px);
    height: calc(100vh - 200px);

    background: var(--header);
    box-shadow: 5px 5px 15px var(--cedar-green);
    border-radius: 25px;

    color: var(--text);
}

.services-card a {
    text-decoration: none;
    position: absolute;
    bottom: 5%;
}

.services-card img {
    width: calc((100vw / 3) - 60px);

    border-radius: 25px 25px 0 0;
}

.services-card summary {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px 20px 15px;
}

.services-card h3 {
    font-family: "DM Serif Text", sans-serif;
    font-size: 24px;
}

.services-card p {
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.services-card button {
    transition: all 0.1s ease-in;
}

.services-card button:hover {
    background: var(--text-hover);
    color: var(--header);
    border: 2px solid var(--text-hover);
}

section#products {
    flex-direction: column;
    align-items: center;
    padding: 25px;

    background: var(--text);
    color: white;
}

#products article.desktop {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#products article.mobile {
    display: none;
}

#products h2 {
    font-family: "DM Serif Text", sans-serif;
    font-size: 34px;
    text-shadow: 0 0 2px black;
    margin: 10px 0 50px;
}

#products article {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.products-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

    width: calc((100vw / 4) - 60px);
    height: calc(100vh - 300px);

    background: white;
    box-shadow: 5px 5px 15px var(--cedar-green);
    border-radius: 25px;
    border: 5px solid white;

    text-align: center;
    color: var(--text);

    transition: border 0.1s ease-in;
}

.products-card img {
    top: 0;

    width: calc((100vw / 4) - 180px);
}

.products-card h3 {
    position: relative;
    font-family: "DM Serif Text", sans-serif;
    font-size: 24px;
}

.products-card a {
    text-decoration: none;
    position: absolute;
    bottom: 5%;
}

.products-card button {
    display: flex;
    position: relative;

    transition: all 0.2s ease-in;
}

.products-card button:hover {
    background: var(--text-hover);
    color: var(--header);
    border: 2px solid var(--text-hover);
}

.products-card:nth-child(1):has(button:hover) {
    border: 5px solid #ffda1c;
}

.products-card:nth-child(2):has(button:hover) {
    border: 5px solid #0c2049;
}

.products-card:nth-child(3):has(button:hover) {
    border: 5px solid #cd6168;
}

.products-card:nth-child(4):has(button:hover) {
    border: 5px solid #54bed5;
}

section#contact {
    display: flex;
    flex-direction: row;
    padding: 75px;
    gap: 50px;

    height: calc(100vh - 85px);
}

#contact article {
    width: 40%;
}

#contact h2 {
    margin-bottom: 25px;

    color: var(--text);
    font-size: 40px;
}

#contact p {
    margin-bottom: 15px;
}

#contact p.desktop {
    display: block;
}

#contact p.mobile {
    display: none;
}

#socials {
    display: flex;
    flex-direction: column;
    list-style: none;
    display: flex;
    justify-content: space-between;

    width: 100%;

}

#socials a,
#socials i {
    color: var(--text);
    font-family: sans-serif;
    font-size: 18px;
    line-height: 35px;
    font-weight: 100;
}

#socials a {
    text-decoration: underline;
}

#socials i {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 0 25px 0;
    gap: 10px;

    width: 100%;
    height: calc(100vh - (85px + 75px*2));
    background: var(--header);
    border-radius: 25px;
    box-shadow: 5px 5px 20px var(--cedar-green);
}

fieldset {
    display: flex;
    flex-direction: row;
    gap: 10px;

    border: none;
}

fieldset input {
    width: 50%;
}

input {
    padding: 10px;

    border-radius: 5px;
    border: 1px solid black;

    line-height: 25px;
    font-size: 18px;
    font-weight: 100
}

textarea {
    padding: 10px;

    height: 100%;
    border-radius: 5px;
    border: 1px solid black;

    line-height: 25px;
    font-size: 18px;
    font-weight: 100
}

form button {
    align-self: center;

    width: 100%;
    transition: all 0.1s ease-in;
}

form button:hover {
    background: var(--text-hover);
    color: var(--header);
    border: 2px solid var(--text-hover);
}

footer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    margin: 0 0 1vh 0;
    width: auto;
    height: auto;

    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

@media screen and (max-width:480px) {

    body {
        margin: 0;
        padding: 0;
    }

    header {
        justify-content: space-between;
        position: sticky;
        top: 0;

        height: 10vh;
        width: 100vw;
        padding: 0 15px 0;
    }

    header i.mobile{
        display: block;
    }

    header nav {
        position: absolute;
        top: 0;
        left: -100vw;

        width: 100vw;
        height: 100vh;

        background: var(--header);

        transition: all 0.5s ease-in-out;
    }
    nav i.mobile{
        position: absolute;
        top: 25px;
        right: 25px;
        display: block;

        color: var(--text);
        font-size: 30px;
    }

    #nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    
        width: 100%;
    }
    
    #nav-links a {
        text-decoration: none;
        color: var(--text);
        font-size: 24px;
        font-weight: 400;
    }
    
    #nav-links a:hover {
        text-decoration: none;
        color: var(--text);
        font-size: 24px;
        font-weight: 400;
    }


    header img {
        height: 75%;
    }

    .ri-menu-line {
        font-size: 25px
    }

    main {
        position: relative;
        overflow-y: scroll;
    }

    section {
        padding: 15px;
        height: calc(100vh - 10vh);
        width: 100vw;
    }

    a {
        justify-content: center;
    }

    button {
        letter-spacing: 1px;
        border-radius: 25px;
    }

    section#hero {
        justify-content: center;

        background: url(assets/AllKleenSolutionHero.jpeg);
        background-size: 100vw;
        padding: 15px;
    }

    #hero article {
        padding: 15px;
        top: 0;

        width: 95%;
        border-radius: 10px;
    }

    #hero h1 {
        font-size: 35px;
        line-height: 40px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }

    #hero h2 {
        content: "Visit our location";
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }

    #hero i {
        display: none;
    }

    #hero p {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 15px 0 0;
        justify-content: space-around;

        border-top: 1px solid black;

        text-align: center;
        text-shadow: 1px 1px 2px var(--cedar-green);
    }

    #hero button {
        display: block;
        margin: 15px 0 15px;

        background: var(--cedar-green);
        border: 2px solid var(--cedar-green);
    }

    section#about-us {
        padding: 25px;
    }

    #about-us img {
        display: none;
    }

    #about-us h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    #about-us p {
        margin-bottom: 25px;
    }

    #services h2{
        text-align: center;
    }
    
    #services article.desktop {
        display: none;
    }

    #services article.mobile {
        display: flex;
        flex-direction: row;
    }

    .swiper {
        width: 85vw;
        height: calc(100vh - (10vh*3));
    }

    .swiper-slide {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 200px);

        background: white;
        border-radius: 25px;

        color: var(--text);
    }

    .swiper-slide a {
        position: absolute;
        bottom: 10%;
        display: flex;

        width: 100%;

        text-decoration: none;
    }

    .swiper-slide img {
        width: 85vw;

        border-radius: 25px 25px 0 0;
    }

    .swiper-slide img.product-img {
        position: relative;
        top: 10%;
        left: 50%;
        translate: -50%;

        width: 50vw;
    }

    .swiper-slide summary {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 15px 20px 15px;
    }

    .swiper-slide h3 {
        text-align: center;
        font-family: "DM Serif Text", sans-serif;
        font-size: 24px;
    }

    .swiper-slide h3.product-h3 {
        position: relative;
        top: 15%;

        text-align: center;
        font-family: "DM Serif Text", sans-serif;
        font-size: 24px;
    }

    .swiper-slide p {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
    }

    #products article.desktop {
        display: none;
    }

    #products article.mobile {
        display: flex;
        flex-direction: row;
    }

    #products h2 {
        margin: 10px 0 10px;
    }

    section#contact {
        flex-direction: column;
        padding: 25px;
        gap: 25px;
    }

    #contact article {
        width: calc(100vw - 25px*2);
    }

    #contact h2 {
        text-align: center;
    }

    #contact p.desktop {
        display: none;
    }

    #contact p.mobile {
        display: block;
        text-align: center;
    }

    #contact ul{
        text-align: center;
    }

    #contact form {
        margin: 0;
    }
}