:root {
    --moss-green: rgb(91, 241, 58);
    --header: rgb(243, 236, 227);
    --text: rgb(93, 154, 81);
    --text-hover: rgb(109, 183, 94);
    --frost-white: rgb(243, 245, 247);
    --olive-green: rgb(128, 128, 0);
    --cloud-white: rgb(240, 240, 240);
    --cedar-green: rgb(66, 80, 49);
    --alabaster-white: rgb(255, 255, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 85px;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 85px;
    padding: 10px 50px;
    background-color: var(--header);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}

#nav-links a {
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
}

#nav-links a:hover {
    text-decoration: underline;
    color: var(--text-hover);
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
}

section#hero {
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    text-align: center;
    color: var(--header);
    background: url(assets/AllKleenSolutionHero.jpeg);
    background-size: cover;
    background-position: center;
}

#hero h1 {
    position: relative;
    top: 25%;
    padding: 25px;
    width: 80%;
    border-radius: 25px;
    background-color: rgba(36, 221, 76, 0.7);
    font-family: "DM Serif Text", serif;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 80px;
    font-size: 68px;
    text-shadow: 0px 0px 2px black;
}

@media screen and (max-width: 1366px) {
    #hero h1 {
        width: 90%;
        font-size: 60px;
        line-height: 70px;
    }
}

@media screen and (max-width: 1024px) {
    #hero h1 {
        font-size: 50px;
        line-height: 60px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding-top: 0;
    }
    header {
        display: none;
    }
    section#hero {
        height: 100vh;
    }
}

#services article, #products article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.services-card, .products-card {
    width: 100%;
    max-width: 300px;
    height: auto;
    background: var(--header);
    box-shadow: 5px 5px 15px var(--cedar-green);
    border-radius: 25px;
    color: var(--text);
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .services-card, .products-card {
        max-width: 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    width: 100%;
    height: auto;
    background: var(--header);
    border-radius: 25px;
    box-shadow: 5px 5px 20px var(--cedar-green);
}

@media screen and (max-height: 768px) {
    form {
        height: auto;
    }
}
